package c$PACKAGE_NAME$

import (
	"ginp-api/pkg/ginp"
)

const Api$API_NAME_BIG$ = "/api/$ENTITY_LINE$/$API_NAME_LINE$" //API Path

func $API_NAME_BIG$(c *ginp.ContextPlus) {
	var requestParams *Request$API_NAME_BIG$
	if err := c.ShouldBindJSON(&requestParams); err != nil {
		c.Fail("request param error:" + err.Error())
		return
	}

	//TODO:
	//s$PACKAGE_NAME$.Model().Create(&entity.$ENTITY_NAME${})
	//c.SuccessData(&Respond$API_NAME_BIG${})
}



type Request$API_NAME_BIG$ struct {
}

type Respond$API_NAME_BIG$ struct {
}

func init() {
	ginp.RouterAppend(ginp.RouterItem{
		Path:           Api$API_NAME_BIG$,                //api路径
		Handlers:       ginp.RegisterHandler($API_NAME_BIG$), //对应控制器
		HttpType:       ginp.HttpPost,                //http请求类型
		NeedLogin:      false,                        //是否需要登录
		NeedPermission: false,                        //是否需要鉴权
		PermissionName: "$PACKAGE_NAME$.$API_NAME_LINE$",     //完整的权限名称,会跟权限表匹配
		Swagger: &ginp.SwaggerInfo{
			Title:       "$API_NAME_LINE$",
			Description: "",
			RequestDto:  Request$API_NAME_BIG${},
		},
	})
}
