package c$PACKAGE_NAME$

import (
	"ginp-api/internal/gapi/dto/comdto"
	"ginp-api/internal/gapi/entity"
	"ginp-api/internal/gapi/service/$PARENT_DIR$s$PACKAGE_NAME$"
	"ginp-api/pkg/where"

	"ginp-api/pkg/ginp"
)

func FindByID(c *ginp.ContextPlus) {
	var params *comdto.ReqFindById
	if err := c.ShouldBindJSON(&params); err != nil {
		c.Fail("request param error:" + err.Error())
		return
	}
	info, err := s$PACKAGE_NAME$.Model().FindOneById(params.ID)
	if err != nil {
		c.Fail(err.Error())
		return
	}
	c.SuccessData(info)
}

func Create(c *ginp.ContextPlus) {
	var params *entity.$ENTITY_NAME$
	if err := c.ShouldBindJSON(&params); err != nil {
		c.Fail("request param error:" + err.Error())
		return
	}
	//也可以自己创建并传入读写db: tables.New$ENTITY_NAME$(wdb,rdb)
	info, err := s$PACKAGE_NAME$.Model().Create(params)
	if err != nil {
		c.Fail(err.Error())
		return
	}
	c.SuccessData(info)
}

func Update(c *ginp.ContextPlus) {
	var params *UpdateDto
	if err := c.ShouldBindJSON(&params); err != nil {
		c.Fail("请求参数有误" + err.Error())
		return
	}
	wheres := where.Format(where.OptEqual("id", params.ID))
	//也可以自己创建并传入读写db: tables.New$ENTITY_NAME$(wdb,rdb)
	err := s$PACKAGE_NAME$.Model().Update(wheres, params.UpdateData, params.UpdateFields...)
	if err != nil {
		c.Fail("修改失败" + err.Error())
		return
	}
	c.Success()
}

func Delete(c *ginp.ContextPlus) {
	var params *comdto.ReqDelete
	if err := c.ShouldBindJSON(&params); err != nil {
		c.Fail("request param error:" + err.Error())
		return
	}

	//也可以自己创建并传入读写db: tables.New$ENTITY_NAME$(wdb,rdb)
	err := s$PACKAGE_NAME$.Model().DeleteById(params.ID)
	if err != nil {
		c.Fail("delete fail :" + err.Error())
		return
	}
	c.Success()
	return
}

func Search(c *ginp.ContextPlus) {
	var params *comdto.ReqSearch
	if err := c.ShouldBindJSON(&params); err != nil {
		c.Fail("request param error:" + err.Error())
		return
	}
	
	if where.Check(params.Wheres) != nil {
		c.Fail(where.Check(params.Wheres).Error())
		return
	}
	//也可以自己创建并传入读写db: tables.New$ENTITY_NAME$(wdb,rdb)
	list, total, err := s$PACKAGE_NAME$.Model().FindList(params.Wheres, params.Extra)
	if err != nil {
		c.Fail(err.Error())
		return
	}

	resp := &comdto.RespSearch{
		List:     list,
		Total:    uint(total),
		PageNum:  uint(params.Extra.PageNum),
		PageSize: uint(params.Extra.PageSize),
	}
	c.SuccessData(resp)

}
