package entity

import (
	"ginp-api/internal/gapi/typ"
	"ginp-api/internal/gen"
	"time"
)

const tableName$ENTITY_NAME$ = "$ENTITY_LINE$"

type $ENTITY_NAME$ struct {
	ID uint `json:"id"`
	//... other fields
	CreatedAt time.Time `json:"created_at"`
	UpdatedAt time.Time `json:"updated_at" `
}

var _ typ.IEntity = (*$ENTITY_NAME$)(nil) // U实体必须实现接口GenConfig

func ($ENTITY_NAME$) GenConfig() *gen.EntityConfig {
	return &gen.EntityConfig{
		TableName: tableName$ENTITY_NAME$,
	}
}

func ($ENTITY_NAME$) TableName() string {
	return tableName$ENTITY_NAME$
}
